<article id="<%= dom_id plant %>">
  <p>
    <strong>Common name:</strong>
    <%= plant.common_name %>
  </p>

  <p>
    <strong>Latin name:</strong>
    <%= plant.latin_name %>
  </p>

  <p class=cat_safe_<%=plant.cat_safe%>>
    <strong>Cat safe:</strong>
    <%= plant.cat_safe %>
    <% if plant.cat_safe %>
      😺
    <% else %>
      😾
    <% end %>
  </p>

</article>
